<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="css/profile.css">
  </head>
  <body>


<!-- HEADER STARTS -->

  <header class="custom-grid-container">
    <% include ../partials/header %>
  </header>``


<!-- MAIN STARTS -->

    <main id="Page" class="grid-container">
      <div id="optionsBar">
        <% include ../partials/profileMenu %>
        <a href="/logout"><button class="logout" tabindex="2">Logout</button></a>
      </div>
      <div>
        <h2 tabindex="3">Profile</h2>
        <p>Hello <%= user.name.first %></p>
        <p>Username: <%= user.login.username %></p>
        <h2 tabindex="4">Favourite Dishes</h2>
        <ul>
        <%favourites.forEach(function(favourite){%>
          <li><a href="<%='/recipe?id=' + favourite.recipeID%>">
          <%= favourite.recipe %>
          </a></li>
        <%});%>
        </ul>
        <h2 tabindex="5">Your Reviews</h2>
        <ul>
        <%reviews.forEach(function(review){%>
        <li><a href="<%='/recipe?id=' + review.recipeID%>">
          <%= review.recipe %>
        </a><%=" - " + review.text + " " + review.score + "/5"%></li>
        <%});%>
        </ul>
        <a href="<%= '/deleteaccount' %>" tabindex="-1"><button tabindex="6">Delete Account</button></a>
      </div>
    </main>


<!-- FOOTER STARTS -->

    <footer id="PageFooter" class="custom-grid-container">
      <% include ../partials/footer %>
    </footer>


<!--JS-->

    <script src="js/scripting.js"></script>
  </body>
</html>
