<!doctype html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/unsemantic/1.2.3/unsemantic-grid-responsive-tablet.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/recipe.css">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Poiret+One" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/scripting.js"></script>
    <script src="js/recipepage.js"></script>
  </head>
  <body>


<!-- HEADER STARTS -->

  <header class="custom-grid-container">
    <% include ../partials/header %>
  </header>


<!-- MAIN STARTS -->

    <main id="Page" class="grid-container">
      <div id="optionsBar">
        <% include ../partials/profileMenu %>
      </div>

      <div class="Title grid-100 mobile-gride-50">
        <h1 id="recipeTitle" tabindex="1"> <%= jsonData.name %> </h1>
      </div>

      <div class="recipeImg">
        <img src="<%=jsonData.images[0].hostedLargeUrl%>" id="recipeImage">
      </div>

      <div>
        <%if(favourites != []){%>
        <a href="/removefavourite" tabindex="-1"><button tabindex="21">Remove Favourite</button></a>
        <%}%>
        <%if(favourites == []){%>
          <a href="/addfavourite" tabindex="-1"><button tabindex="21">Add Favourite</button></a>
        <%};%>
      </div>

      <div class="contentRecipe">
        <h2 id="ingredientsList" tabindex="2">Ingredients</h2>
        <ul>
          <% jsonData.ingredientLines.forEach(function(ingredient) { %>
          <li>
            <%= ingredient %>
          </li>
          <% }); %>
        </ul>
      </div>

      <div class="contentRecipe">
        <h2 id="preparationSteps" tabindex="3">Preparation</h2>
        <p>Prep Time:
          <%= jsonData.totalTime %>
        </p>
        <p>Servings:
          <%= jsonData.yield %>
        </p>
        <a href="<%= jsonData.source.sourceRecipeUrl %>" tabindex="4">Link to Instructions</a>
      </div>

      <div class="contentRecipe">
        <h2 id="dietaryNotes" tabindex="5">Dietary Notes</h2>
        <ul>
          <% jsonData.nutritionEstimates.forEach(function(attribute){ %>
          <% if(attribute.value > 0.0){ %>
          <li>
            <%= attribute.description + ": " + attribute.value + " " + attribute.unit.pluralAbbreviation%>
          </li>
          <% };}); %>
        </ul>
      </div>

      <div class="contentRecipe">
        <a href="<%= '/review?=' + id %>" tabindex="-1"><button tabindex="6">Your Review!</button></a>
        <h2 id="review" tabindex="7">User Reviews</h2>
        <div>
          <h3 id="score">Average Score: <%= jsonData.rating %> </h3>
          <p>
            <img src="images/star-empty-single.png" id="star1" class="star">
            <img src="images/star-empty-single.png" id="star2" class="star">
            <img src="images/star-empty-single.png" id="star3" class="star">
            <img src="images/star-empty-single.png" id="star4" class="star">
            <img src="images/star-empty-single.png" id="star5" class="star">
          </p>
        </div>
        <h2>Reviews</h2>
        <% reviews.forEach(function(review){%>
        <p>
          <%= review.user + " - " + review.text + " " + review.score + "/5"%>
        </p>
        <%});%>
      </div>
    </main>


<!-- FOOTER STARTS -->

   <footer id="PageFooter" class="custom-grid-container">
     <% include ../partials/footer %>
   </footer>
  </body>
</html>
